<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsUPqonrEfnJ8r856tqpsqvrR-zrm4sFA</string>
	<key>GCM_SENDER_ID</key>
	<string>623025121814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.note_canvas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>note_canvas-821b1</string>
	<key>STORAGE_BUCKET</key>
	<string>note_canvas-821b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623025121814:ios:b7a53145ab2650c4686337</string>
</dict>
</plist>